* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

@media screen and (max-width: 1163px) {
  html {
    font-size: 57%; } }

@media screen and (max-width: 900px) {
  html {
    font-size: 54%; } }

@media screen and (max-width: 300px) {
  html {
    font-size: 42%; } }

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box; }

.mr-right-huge {
  margin-right: 15rem; }

.mr-right-medium {
  margin-right: 8rem; }

.mr-right-small {
  margin-right: 2rem; }

.icon-general,
.icon-sidebar {
  height: 2.6rem;
  width: 2.6rem; }

.icon-clientmsg {
  height: 1.8rem;
  width: 1.8rem; }

.icon-sidebar {
  color: #464646; }

.icon-general:hover,
.icon-sidebar:hover,
.icon-clientmsg:hover {
  transform: scale(1.07); }

.header {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 11rem 1fr; }
  @media screen and (max-width: 1163px) and (min-width: 800px) {
    .header {
      grid-template-columns: 8rem 1fr; } }
  .header-icon {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header-icon .siderbar-icon {
      height: 2.5rem;
      width: 2.5rem; }
  .header__info {
    margin-left: 6rem;
    margin-right: 3rem;
    display: flex;
    align-items: center; }
    @media screen and (max-width: 470px) {
      .header__info {
        margin: 2.2rem 3.4rem; } }
    .header__info-left {
      width: 50%;
      display: flex;
      align-items: center;
      margin-right: auto; }
      .header__info-left-text {
        font-family: serif;
        margin-right: auto;
        color: #1e1c2e;
        font-size: 3rem; }
    @media screen and (max-width: 600px) {
      .header__info {
        align-items: start;
        margin-top: 2.2rem; }
        .header__info-left {
          flex-direction: column;
          align-items: start; }
        .header__info-search {
          margin-left: 1rem; } }
    .header__info-search {
      display: flex;
      align-items: center;
      flex: 0 0 55%; }
      .header__info-search .search-icon {
        height: 1.6rem;
        width: 1.6rem; }
      .header__info-search input {
        box-shadow: 0 2rem 10rem rgba(0, 0, 0, 0.1);
        background-color: #fefeff;
        width: 90%;
        border: none;
        padding: 1rem 4rem;
        border-radius: 10rem;
        transition: all 0.2s;
        margin-left: -3rem; }
        .header__info-search input:focus {
          height: 4.5rem;
          width: 100%;
          outline: none;
          background-color: #fefeff; }
      @media screen and (max-width: 330px) {
        .header__info-search .search-icon {
          height: 1.2rem;
          width: 1.2rem; }
        .header__info-search input::placeholder {
          font-size: 1.2rem; } }
    .header__info-profile-info {
      display: flex;
      align-items: center; }
      .header__info-profile-info .ver-line {
        border: 1px solid black;
        height: 3rem; }
      .header__info-profile-info .notification-icon-setting {
        position: relative; }
      .header__info-profile-info .dot-notification {
        height: 0.6rem;
        width: 0.6rem;
        position: absolute;
        top: 0.2rem;
        right: 2.6rem;
        border-radius: 50%;
        background-color: red; }
      .header__info-profile-info .profile-img-name {
        display: flex;
        align-items: center; }
        .header__info-profile-info .profile-img-name img {
          height: 4rem;
          width: 4rem;
          border-radius: 50%; }
        .header__info-profile-info .profile-img-name .profile-name {
          font-size: 1.8rem;
          color: #464646; }
        @media screen and (max-width: 451px) {
          .header__info-profile-info .profile-img-name {
            flex-direction: column; }
            .header__info-profile-info .profile-img-name img {
              height: 2.5rem;
              width: 2.5rem; }
            .header__info-profile-info .profile-img-name .profile-name {
              font-size: 1.4rem; } }
  @media screen and (max-width: 700px) {
    .header {
      grid-template-columns: 1fr; }
      .header-icon {
        display: none; } }

.siderbar {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start; }
  .siderbar__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none; }
    .siderbar__list-item {
      margin-bottom: 3rem;
      line-height: 0; }
    .siderbar__list .siderbar__list-item:first-child {
      padding: 1rem;
      border-radius: 50%;
      background-color: #1e1c2e; }
      .siderbar__list .siderbar__list-item:first-child .icon-sidebar {
        color: #f3f7fc; }
    .siderbar__list .siderbar__list-item:hover {
      padding: 1rem;
      border-radius: 50%;
      background-color: #1e1c2e; }
      .siderbar__list .siderbar__list-item:hover .icon-sidebar {
        color: #f3f7fc; }
  @media screen and (max-width: 800px) and (min-width: 768px) {
    .siderbar {
      grid-row: 2/-1; } }
  @media screen and (max-width: 700px) {
    .siderbar {
      grid-column: 1/-1;
      margin-top: 0; }
      .siderbar__list {
        width: 100%;
        flex-direction: row;
        justify-content: space-around; } }

.projects {
  background-color: #fefeff;
  border-radius: 5rem;
  padding: 4rem 4rem 0 4rem; }
  .projects__project-heading {
    font-family: serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem; }
    .projects__project-heading .heading-text,
    .projects__project-heading .date-text {
      font-size: 2.6rem;
      color: #464646; }
  .projects__info {
    display: flex;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem; }
    .projects__info-progress-section {
      display: flex;
      align-items: end;
      margin-right: auto; }
      @media screen and (max-width: 550px) {
        .projects__info-progress-section {
          display: flex;
          justify-content: start;
          align-items: center;
          margin: 0 auto; }
          .projects__info-progress-section h2 {
            margin-right: 1rem; } }
      .projects__info-progress-section-item h2 {
        font-size: 2.2rem;
        line-height: 1;
        color: #1e1c2e; }
      .projects__info-progress-section-item h4 {
        font-size: 1.6rem;
        font-weight: 300;
        color: #464646; }
      .projects__info-progress-section .circle {
        height: 0.8rem;
        width: 0.8rem;
        line-height: 0;
        border: 1px solid #464646;
        border-radius: 50%;
        background-color: #f3f7fc;
        margin: 0 2.4rem 0.7rem 2.4rem; }
      @media screen and (max-width: 1350px) {
        .projects__info-progress-section .circle {
          margin-top: auto; } }
      @media screen and (max-width: 1350px) {
        .projects__info-progress-section {
          width: 100%;
          display: grid;
          gap: 2rem;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr; }
          .projects__info-progress-section .circle {
            align-items: end;
            display: none; } }
    @media screen and (max-width: 1350px) {
      .projects__info-icons-section {
        width: 100%;
        text-align: end;
        margin-bottom: 1rem; } }
    @media screen and (max-width: 460px) {
      .projects__info {
        flex-direction: column-reverse; } }
  .projects__cards-section {
    width: 100%;
    height: 55vh;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    place-items: center;
    padding-top: 2.4rem;
    padding-bottom: 4rem; }
    @media screen and (max-width: 1200px) and (min-width: 800px) {
      .projects__cards-section {
        gap: 3.5rem; } }
    @media screen and (max-width: 800px) {
      .projects__cards-section {
        height: 80vh; } }
    .projects__cards-section-card {
      width: 95%;
      height: 28rem;
      border-radius: 2rem;
      padding: 2rem;
      background-color: #fefeff;
      box-shadow: 0 0.2rem 2.2rem rgba(0, 0, 0, 0.1); }
      @media screen and (max-width: 1200px) and (min-width: 900px) {
        .projects__cards-section-card {
          height: 30rem; } }
      .projects__cards-section-card-date-section-card {
        display: flex;
        align-items: center; }
        .projects__cards-section-card-date-section-card h4 {
          font-size: 1.3rem;
          color: #686868;
          margin-right: auto; }
        .projects__cards-section-card-date-section-card .card-icon {
          color: black; }
      .projects__cards-section-card-heading {
        margin: 3rem 0;
        text-align: center;
        color: #686868; }
        .projects__cards-section-card-heading h3 {
          font-size: 1.6rem;
          color: #464646; }
        .projects__cards-section-card-heading h4 {
          font-size: 1.3rem;
          line-height: 0.8;
          font-weight: 500; }
      .projects__cards-section-card-progress {
        margin-bottom: 1.8rem; }
        .projects__cards-section-card-progress h3 {
          color: #464646;
          font-size: 1.3rem; }
        .projects__cards-section-card-progress .per-preogress {
          text-align: right;
          margin-top: 0.6rem; }
        .projects__cards-section-card-progress .progress-section {
          background-color: rgba(192, 192, 192, 0.427);
          width: 100%;
          border-radius: 15px; }
        .projects__cards-section-card-progress .skill {
          background-color: #2ac9ff;
          padding: 1.2%;
          border-radius: 15px; }
        .projects__cards-section-card-progress .web {
          width: 90%; }
        .projects__cards-section-card-progress .mobile {
          width: 30%; }
        .projects__cards-section-card-progress .dashboard {
          width: 50%; }
        .projects__cards-section-card-progress .wireframing {
          width: 20%; }
      .projects__cards-section-card .divider {
        margin: 1rem 0;
        height: 0.06rem;
        width: 114%;
        margin-left: -2rem;
        background-color: #686868; }
        @media screen and (max-width: 1200px) and (min-width: 800px) {
          .projects__cards-section-card .divider {
            width: 120%; } }
      .projects__cards-section-card-bottom {
        display: flex;
        align-items: center;
        margin-top: 2rem; }
        .projects__cards-section-card-bottom-left {
          display: flex;
          align-items: center;
          line-height: 0;
          margin-right: auto; }
          .projects__cards-section-card-bottom-left-imgs {
            margin-right: 1.2rem; }
            .projects__cards-section-card-bottom-left-imgs img {
              border: 1.6px solid #f3f7fc;
              height: 2.6rem;
              width: 2.6rem;
              border-radius: 50%; }
            .projects__cards-section-card-bottom-left-imgs img:nth-child(2) {
              margin-left: -1rem; }
          .projects__cards-section-card-bottom-left .add-icon {
            height: 2rem;
            width: 2rem;
            background-color: #2ac9ff;
            color: #f3f7fc;
            border-radius: 50%; }
        .projects__cards-section-card-bottom-right h3 {
          background-color: #dbf7fc;
          color: #2ac9ff;
          padding: 0.4rem 1.8rem;
          border-radius: 2.8rem; }
        .projects__cards-section-card-bottom-right :hover {
          cursor: pointer;
          transform: scale(1.1); }
        @media screen and (max-width: 1200px) and (min-width: 800px) {
          .projects__cards-section-card-bottom {
            flex-direction: column-reverse;
            align-items: start;
            margin-top: 0; }
            .projects__cards-section-card-bottom-left {
              margin-top: 1rem; } }
      .projects__cards-section-card .hover-lines {
        opacity: 0;
        margin-top: 2rem; }
        .projects__cards-section-card .hover-lines .hover-line-1 {
          height: 0.4rem;
          background-color: #2ac9ff; }
        .projects__cards-section-card .hover-lines .hover-line-2 {
          margin-top: 0.6rem;
          height: 0.4rem;
          width: 80%;
          margin-left: 10%;
          background-color: #2ac9ff; }
      .projects__cards-section-card:hover {
        cursor: pointer;
        transform: scale(1.02); }
        .projects__cards-section-card:hover .hover-lines {
          transition: all 0.1s;
          opacity: 1; }
      @media screen and (max-width: 900px) and (min-width: 800px) {
        .projects__cards-section-card-heading {
          margin: 1.6rem 0; }
        .projects__cards-section-card .divider {
          margin-top: 0.2rem; } }
    @media screen and (max-width: 550px) {
      .projects__cards-section {
        grid-template-columns: 1fr; }
        .projects__cards-section-card {
          width: 70%;
          margin: 0 auto; } }
    .projects__cards-section-card:nth-child(2) {
      background-color: #fee5ca; }
      .projects__cards-section-card:nth-child(2) .skill,
      .projects__cards-section-card:nth-child(2) .add-icon {
        background-color: #fe733a; }
      .projects__cards-section-card:nth-child(2) .divider {
        background-color: #f3f7fc; }
      .projects__cards-section-card:nth-child(2) .card-button {
        background-color: #f3f7fc;
        color: #fe733a; }
      .projects__cards-section-card:nth-child(2):hover .hover-line-1,
      .projects__cards-section-card:nth-child(2):hover .hover-line-2 {
        background-color: #fe733a; }
    .projects__cards-section-card:nth-child(3) {
      background-color: #baf3d2; }
      .projects__cards-section-card:nth-child(3) .skill,
      .projects__cards-section-card:nth-child(3) .add-icon {
        background-color: #02d153; }
      .projects__cards-section-card:nth-child(3) .divider {
        background-color: #f3f7fc; }
      .projects__cards-section-card:nth-child(3) .card-button {
        background-color: #f3f7fc;
        color: #02d153; }
      .projects__cards-section-card:nth-child(3):hover .hover-line-1,
      .projects__cards-section-card:nth-child(3):hover .hover-line-2 {
        background-color: #02d153; }
    .projects__cards-section-card:nth-child(4) {
      background-color: #fed3e3; }
      .projects__cards-section-card:nth-child(4) .skill,
      .projects__cards-section-card:nth-child(4) .add-icon {
        background-color: #ff73ad; }
      .projects__cards-section-card:nth-child(4) .divider {
        background-color: #f3f7fc; }
      .projects__cards-section-card:nth-child(4) .card-button {
        background-color: #f3f7fc;
        color: #ff73ad; }
      .projects__cards-section-card:nth-child(4):hover .hover-line-1,
      .projects__cards-section-card:nth-child(4):hover .hover-line-2 {
        background-color: #ff73ad; }
    .projects__cards-section-card:nth-child(5) {
      background-color: #e9e7fd; }
      .projects__cards-section-card:nth-child(5) .skill,
      .projects__cards-section-card:nth-child(5) .add-icon {
        background-color: #09006c; }
      .projects__cards-section-card:nth-child(5) .divider {
        background-color: #f3f7fc; }
      .projects__cards-section-card:nth-child(5) .card-button {
        background-color: #f3f7fc;
        color: #09006c; }
      .projects__cards-section-card:nth-child(5):hover .hover-line-1,
      .projects__cards-section-card:nth-child(5):hover .hover-line-2 {
        background-color: #09006c; }
    .projects__cards-section-card:nth-child(6) {
      background-color: #fff1d2; }
      .projects__cards-section-card:nth-child(6) .skill,
      .projects__cards-section-card:nth-child(6) .add-icon {
        background-color: #ffae00; }
      .projects__cards-section-card:nth-child(6) .divider {
        background-color: #f3f7fc; }
      .projects__cards-section-card:nth-child(6) .card-button {
        background-color: #f3f7fc;
        color: #ffae00; }
      .projects__cards-section-card:nth-child(6):hover .hover-line-1,
      .projects__cards-section-card:nth-child(6):hover .hover-line-2 {
        background-color: #ffae00; }
  .projects__cards-section::-webkit-scrollbar {
    display: none; }
  @media screen and (max-width: 700px) {
    .projects {
      grid-column: 1/-1; } }
  @media screen and (max-width: 1051px) and (min-width: 800px) {
    .projects {
      padding: 2rem 4rem 0 4rem; }
      .projects__project-heading {
        margin-bottom: 1rem; } }
  @media screen and (max-width: 950px) {
    .projects .heading-text,
    .projects .date-text {
      font-size: 2rem; } }
  @media screen and (max-width: 800px) {
    .projects {
      grid-column: 2/-1; } }
  @media screen and (max-width: 700px) {
    .projects {
      grid-column: 1/-1;
      padding: 4rem 2rem 0 2rem; } }

.clientmsg {
  background-color: #f3f7fc; }
  .clientmsg__heading {
    padding: 4rem 8rem 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .clientmsg__heading .heading-text {
      font-size: 2.6rem;
      color: #464646; }
    @media screen and (max-width: 1051px) {
      .clientmsg__heading {
        padding-top: 2rem; } }
    @media screen and (max-width: 950px) {
      .clientmsg__heading {
        padding: 2rem 4rem 2rem 4rem; } }
    @media screen and (max-width: 800px) {
      .clientmsg__heading {
        padding: 4rem 4rem 2rem 4rem; } }
  .clientmsg .divider-clientmsg {
    height: 0.6px;
    background-color: #9a9b9a;
    margin: 1rem 0; }
  .clientmsg__cards {
    height: 64vh;
    overflow: auto; }
    .clientmsg__cards-item {
      width: 82%;
      padding: 0.8rem 1.2rem;
      margin: 0 2rem;
      display: flex;
      align-items: center; }
      .clientmsg__cards-item img {
        height: 5.8rem;
        width: 5.8rem;
        border-radius: 50%; }
      .clientmsg__cards-item-text {
        width: 100%;
        margin-left: 1.2rem;
        display: flex;
        flex-direction: column;
        font-family: serif; }
        .clientmsg__cards-item-text-heading-client {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .clientmsg__cards-item-text-heading-client h3 {
            font-size: 1.8rem;
            color: #464646; }
        .clientmsg__cards-item-text-desc {
          line-height: 1.4;
          font-size: 1.6rem;
          color: #686868; }
        .clientmsg__cards-item-text-date {
          line-height: 1;
          font-size: 1.6rem;
          color: #9a9b9a;
          font-weight: 600;
          text-align: end;
          padding: 0.8rem 0; }
    .clientmsg__cards-item:last-child {
      margin-bottom: 3.4rem; }
    @media screen and (max-width: 950px) {
      .clientmsg__cards-item:hover {
        width: 75%;
        margin: 0 1rem 0 2rem; }
      .clientmsg__cards-item:hover {
        width: 0%; } }
    .clientmsg__cards-item:hover {
      width: 90%;
      border-radius: 1.4rem;
      box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.1);
      background-color: #fefeff; }
      .clientmsg__cards-item:hover .clientmsg__cards-item-text {
        padding: 1rem 2.4rem 1rem 0; }
  .clientmsg__cards::-webkit-scrollbar {
    display: none; }
  @media screen and (max-width: 1051px) and (min-width: 800px) {
    .clientmsg__project-heading {
      margin-bottom: 1rem; } }
  @media screen and (max-width: 1050px) {
    .clientmsg .heading-text,
    .clientmsg .date-text {
      font-size: 2rem; } }
  @media screen and (max-width: 800px) {
    .clientmsg {
      grid-column: 2/-1; } }
  @media screen and (max-width: 700px) {
    .clientmsg {
      grid-column: 1/-1; } }

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 11rem 1.5fr 1fr;
  grid-template-rows: 11rem 1fr;
  background-color: #f3f7fc; }
  @media screen and (max-width: 1163px) and (min-width: 800px) {
    .container {
      grid-template-columns: 8rem 1.5fr 1fr;
      grid-template-rows: 8rem 1fr; } }
  @media screen and (max-width: 800px) {
    .container {
      grid-template-columns: 8rem 1.5fr 1fr;
      grid-template-rows: 8rem 1fr 1fr; } }
  @media screen and (max-width: 700px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 15rem 8em 1fr 50rem; } }
