.header {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 11rem 1fr;

  @media screen and (max-width: 1163px) and (min-width: 800px) {
    grid-template-columns: 8rem 1fr;
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    .siderbar-icon {
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  &__info {
    margin-left: 6rem;
    margin-right: 3rem;
    display: flex;
    align-items: center;

    @media screen and (max-width: 470px) {
      margin: 2.2rem 3.4rem;
    }

    &-left {
      width: 50%;
      display: flex;
      align-items: center;
      margin-right: auto;

      &-text {
        margin-right: auto;
        color: $main-color;
        font-size: 3rem;
      }
    }

    @media screen and (max-width: 600px) {
      align-items: start;
      margin-top: 2.2rem;
      &-left {
        flex-direction: column;
        align-items: start;
      }
      &-search {
        margin-left: 1rem;
      }
    }

    &-search {
      display: flex;
      align-items: center;
      flex: 0 0 55%;
      .search-icon {
        height: 1.6rem;
        width: 1.6rem;
      }

      & input {
        box-shadow: 0 2rem 10rem rgba(0, 0, 0, 0.1);
        background-color: $bg-project-section;
        width: 90%;
        border: none;
        padding: 1rem 4rem;
        border-radius: 10rem;
        transition: all 0.2s;
        margin-left: -3rem;
        &:focus {
          height: 4.5rem;
          width: 100%;
          outline: none;
          background-color: $bg-project-section;
        }
      }

      @media screen and (max-width: 330px) {
        .search-icon {
          height: 1.2rem;
          width: 1.2rem;
        }

        & input::placeholder {
          font-size: 1.2rem;
        }
      }
    }

    &-search:hover,
    & input:hover {
      cursor: pointer;
    }

    &-profile-info {
      line-height: normal;
      display: flex;
      align-items: center;

      .ver-line {
        border: 0.0002rem solid rgba(77, 77, 77, 0.755);
        height: 3rem;
      }

      .notification-icon-setting {
        position: relative;
      }

      .dot-notification {
        height: 0.6rem;
        width: 0.6rem;
        position: absolute;
        top: 0.2rem;
        right: 2.6rem;
        border-radius: 50%;
        background-color: red;
      }

      .profile-img-name {
        display: flex;
        align-items: center;

        & img {
          height: 4rem;
          width: 4rem;
          border-radius: 50%;
        }

        & img:hover {
          transition: all 0.5s ease-in-out;
          transform: scale(1.07);
          cursor: pointer;
        }

        .profile-name {
          font-weight: 600;
          font-size: 1.8rem;
          color: $grey-dark;
        }

        .profile-name:hover {
          cursor: pointer;
        }

        @media screen and (max-width: 451px) {
          flex-direction: column;

          & img {
            height: 2.5rem;
            width: 2.5rem;
          }

          .profile-name {
            font-size: 1.4rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
    &-icon {
      display: none;
    }
  }
}

.siderbar {
  background-color: $bg-color;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;

    &-item {
      margin-bottom: 3rem;
      line-height: 0;
    }

    .siderbar__list-item:first-child {
      padding: 1rem;
      border-radius: 50%;
      background-color: $main-color;

      .icon-sidebar {
        color: $bg-color;
      }
    }

    .siderbar__list-item:hover {
      padding: 1rem;
      border-radius: 50%;
      background-color: $main-color;

      .icon-sidebar {
        color: $bg-color;
      }
    }
  }
  @media screen and (max-width: 800px) and (min-width: 768px) {
    grid-row: 2/-1;
  }

  @media screen and (max-width: 1051px) {
    margin-top: 3rem;
  }

  @media screen and (max-width: 700px) {
    grid-column: 1/-1;
    margin-top: 0;
    &__list {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

.projects {
  background-color: $bg-project-section;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  padding: 4rem 4rem 0 4rem;

  &__project-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;

    .heading-text,
    .date-text {
      font-weight: 600;
      font-size: 2.4rem;
      color: $grey-dark;
    }
  }

  &__info {
    display: flex;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;

    &-progress-section {
      display: flex;
      align-items: end;
      margin-right: auto;

      @media screen and (max-width: 550px) {
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 0 auto;

        h2 {
          margin-right: 1rem;
        }
      }

      &-item {
        h2 {
          font-size: 2.2rem;
          line-height: 1;
          color: $main-color;
        }

        h4 {
          font-size: 1.6rem;
          font-weight: 300;
          color: $grey-dark;
        }
      }

      .circle {
        height: 0.8rem;
        width: 0.8rem;
        line-height: 0;
        border: 1px solid $grey-dark;
        border-radius: 50%;
        background-color: $bg-color;
        margin: 0 2.4rem 0.7rem 2.4rem;
      }

      @media screen and (max-width: 1350px) {
        .circle {
          margin-top: auto;
        }
      }

      @media screen and (max-width: 1350px) {
        width: 100%;
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        .circle {
          align-items: end;
          display: none;
        }
      }
    }

    &-progress-section {
      cursor: pointer;
    }

    &-icons-section {
      @media screen and (max-width: 1350px) {
        width: 100%;
        text-align: end;
        margin-bottom: 1rem;
      }
    }
    @media screen and (max-width: 460px) {
      flex-direction: column-reverse;
    }
  }

  &__cards-section {
    width: 100%;
    height: 55vh;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    place-items: center;
    padding-top: 2.4rem;
    padding-bottom: 4rem;

    @media screen and (max-width: 1200px) and (min-width: 800px) {
      gap: 3.5rem;
    }

    @media screen and (max-width: 800px) {
      height: 80vh;
    }

    &-card {
      width: 95%;
      height: 28rem;
      border-radius: 2rem;
      padding: 2rem;
      background-color: $bg-project-section;
      box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.1);

      @media screen and (max-width: 1200px) and (min-width: 900px) {
        height: 30rem;
      }

      &-date-section-card {
        display: flex;
        align-items: center;

        h4 {
          font-size: 1.3rem;
          color: $card-heading;
          margin-right: auto;
        }
        .card-icon {
          color: black;
        }
      }

      &-heading {
        margin: 3rem 0;
        text-align: center;
        color: $card-heading;

        h3 {
          font-size: 1.6rem;
          color: $grey-dark;
        }
        h4 {
          font-size: 1.3rem;
          line-height: 0.8;
          font-weight: 500;
        }
      }

      &-progress {
        margin-bottom: 1.8rem;
        h3 {
          color: $grey-dark;
          font-size: 1.3rem;
        }

        .per-preogress {
          text-align: right;
          margin-top: 0.6rem;
        }

        .progress-section {
          background-color: rgba(192, 192, 192, 0.427);
          width: 100%;
          border-radius: 15px;
        }

        .skill {
          background-color: $card-1;
          padding: 1.2%;
          border-radius: 15px;
        }

        .web {
          width: 90%;
        }

        .mobile {
          width: 30%;
        }

        .dashboard {
          width: 50%;
        }

        .wireframing {
          width: 20%;
        }
      }

      .divider {
        margin: 1rem 0;
        height: 0.06rem;
        width: 114%;
        margin-left: -2rem;
        background-color: $card-heading;

        @media screen and (max-width: 1200px) and (min-width: 800px) {
          width: 120%;
        }
      }

      &-bottom {
        display: flex;
        align-items: center;
        margin-top: 2rem;

        &-left {
          display: flex;
          align-items: center;
          line-height: 0;
          margin-right: auto;

          &-imgs {
            margin-right: 1.2rem;
            img {
              border: 1.6px solid $bg-color;
              height: 2.6rem;
              width: 2.6rem;
              border-radius: 50%;
            }
            img:nth-child(2) {
              margin-left: -1rem;
            }
          }
          .add-icon {
            height: 2rem;
            width: 2rem;
            background-color: $card-1;
            color: $bg-color;
            border-radius: 50%;
          }
        }

        &-right {
          h3 {
            background-color: #dbf7fc;
            color: $card-1;
            padding: 0.4rem 1.8rem;
            border-radius: 2.8rem;
          }
          :hover {
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            transform: scale(1.1);
          }
        }

        @media screen and (max-width: 1200px) and (min-width: 800px) {
          flex-direction: column-reverse;
          align-items: start;
          margin-top: 0;

          &-left {
            margin-top: 1rem;
          }
        }
      }

      .hover-lines {
        opacity: 0;
        margin-top: 2rem;
        .hover-line-1 {
          height: 0.4rem;
          background-color: $card-1;
        }

        .hover-line-2 {
          margin-top: 0.6rem;
          height: 0.4rem;
          width: 80%;
          margin-left: 10%;
          background-color: $card-1;
        }
      }

      &:hover {
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        transform: scale(1.02);
        .hover-lines {
          transition: all 0.1s;
          opacity: 1;
        }
      }

      @media screen and (max-width: 900px) and (min-width: 800px) {
        &-heading {
          margin: 1.6rem 0;
        }
        .divider {
          margin-top: 0.2rem;
        }
      }
    }

    @media screen and (max-width: 550px) {
      grid-template-columns: 1fr;
      &-card {
        width: 70%;
        margin: 0 auto;
      }
    }

    &-card:nth-child(2) {
      background-color: $card-2;
      .skill,
      .add-icon {
        background-color: $card-2-sub;
      }
      .divider {
        background-color: $bg-color;
      }
      .card-button {
        background-color: $bg-color;
        color: $card-2-sub;
      }
      &:hover {
        .hover-line-1,
        .hover-line-2 {
          background-color: $card-2;
        }
      }
    }
    &-card:nth-child(3) {
      background-color: $card-3;
      .skill,
      .add-icon {
        background-color: $card-3-sub;
      }
      .divider {
        background-color: $bg-color;
      }
      .card-button {
        background-color: $bg-color;
        color: $card-3-sub;
      }
      &:hover {
        .hover-line-1,
        .hover-line-2 {
          background-color: $card-3;
        }
      }
    }
    &-card:nth-child(4) {
      background-color: $card-4;
      .skill,
      .add-icon {
        background-color: $card-4-sub;
      }
      .divider {
        background-color: $bg-color;
      }
      .card-button {
        background-color: $bg-color;
        color: $card-4-sub;
      }
      &:hover {
        .hover-line-1,
        .hover-line-2 {
          background-color: $card-4;
        }
      }
    }
    &-card:nth-child(5) {
      background-color: $card-5;
      .skill,
      .add-icon {
        background-color: $card-5-sub;
      }
      .divider {
        background-color: $bg-color;
      }
      .card-button {
        background-color: $bg-color;
        color: $card-5-sub;
      }
      &:hover {
        .hover-line-1,
        .hover-line-2 {
          background-color: $card-5;
        }
      }
    }
    &-card:nth-child(6) {
      background-color: $card-6;
      .skill,
      .add-icon {
        background-color: $card-6-sub;
      }
      .divider {
        background-color: $bg-color;
      }
      .card-button {
        background-color: $bg-color;
        color: $card-6-sub;
      }
      &:hover {
        .hover-line-1,
        .hover-line-2 {
          background-color: $card-6;
        }
      }
    }
  }

  &__cards-section::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 700px) {
    grid-column: 1/-1;
  }

  @media screen and (max-width: 1051px) and (min-width: 800px) {
    padding: 2rem 4rem 0 4rem;

    &__project-heading {
      margin-bottom: 1rem;
    }
  }

  @media screen and (max-width: 950px) {
    .heading-text,
    .date-text {
      font-size: 2rem;
    }
  }

  @media screen and (max-width: 800px) {
    grid-column: 2/-1;
  }

  @media screen and (max-width: 700px) {
    grid-column: 1/-1;
    padding: 4rem 2rem 0 2rem;
  }
}

.clientmsg {
  background-color: $bg-color;
  &__heading {
    padding: 4rem 8rem 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .heading-text {
      font-size: 2.4rem;
      color: $grey-dark;
    }

    @media screen and (max-width: 1051px) {
      padding-top: 2rem;
    }

    @media screen and (max-width: 950px) {
      padding: 2rem 4rem 2rem 4rem;
    }

    @media screen and (max-width: 800px) {
      padding: 4rem 4rem 2rem 4rem;
    }
  }

  .divider-clientmsg {
    height: 0.6px;
    background-color: $grey-light;
    margin: 1rem 0;
  }

  @media screen and (max-width: 800px) {
    .divider-clientmsg {
      height: 0.6px;
      background-color: $grey-light;
      margin: 0.4rem 0;
    }
  }

  &__cards {
    height: 64vh;
    overflow: auto;
    &-item {
      width: 82%;
      padding: 0.8rem 1.2rem;
      margin: 0 2rem;
      display: flex;
      align-items: center;
      img {
        height: 5.8rem;
        width: 5.8rem;
        border-radius: 50%;
      }
      &-text {
        width: 100%;
        margin-left: 1.2rem;
        display: flex;
        flex-direction: column;

        &-heading-client {
          display: flex;
          justify-content: space-between;
          align-items: center;
          h3 {
            font-size: 1.6rem;
            color: $grey-dark;
          }
        }

        &-desc {
          line-height: 1.4;
          font-size: 1.4rem;
          color: $card-heading;
        }

        &-date {
          line-height: 1;
          font-size: 1.6rem;
          color: $grey-light;
          font-weight: 600;
          text-align: end;
          padding: 0.8rem 0;
        }
      }
    }
    &-item:last-child {
      margin-bottom: 3.4rem;
    }
    @media screen and (max-width: 950px) {
      &-item:hover {
        width: 75%;
        margin: 0 1rem 0 2rem;
      }
      &-item:hover {
        width: 0%;
      }
    }

    &-item:hover {
      width: 90%;
      border-radius: 1.4rem;
      box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.1);
      background-color: $bg-project-section;
      .clientmsg__cards-item-text {
        padding: 1rem 2.4rem 1rem 0;
      }
    }
  }

  &__cards::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 1051px) and (min-width: 800px) {
    &__project-heading {
      margin-bottom: 1rem;
    }
  }

  @media screen and (max-width: 1050px) {
    .heading-text,
    .date-text {
      font-size: 2rem;
    }
  }

  @media screen and (max-width: 800px) {
    grid-column: 2/-1;
  }

  @media screen and (max-width: 700px) {
    grid-column: 1/-1;
  }
}
